*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: chocolate;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}
.head {
  background-color: blue;
  height: 300px;
  width: 200px;
  position: relative;
  border-radius: 50%;
  box-shadow: 0 10px rgba(0, 0, 0, 0.219);
}
.forehead {
  height: 100px;
  width: 100%;
  position: absolute;
  background-color: black;
  border-radius: 50px 20px;
}
.extention1 {
  height: 50px;
  width: 50px;
  background-color: black;
  position: absolute;
  left: 69%;
  top: -32px;
  border-radius: 100px 0 0 200px;
}
.extention2 {
  height: 50px;
  width: 50px;
  background-color: chocolate;
  position: absolute;
  left: 68%;
  top: -50px;
  border-radius: 0 0 50px 0;
}
.extention3 {
  height: 50px;
  width: 50px;
  background-color: black;
  position: absolute;
  left: 39%;
  top: -32px;
  border-radius: 100px 0 0 200px;
}
.extention4 {
  height: 50px;
  width: 50px;
  background-color: chocolate;
  position: absolute;
  left: 38%;
  top: -50px;
  border-radius: 0 0 50px 0;
}
.eyebrew2,
.eyebrew1,
.eyebrew11,
.eyebrew22 {
  background-color: black;
  width: 68px;
  height: 50px;
  position: absolute;
  top: 35%;
  border-radius: 50%;
}

.eyebrew1,
.eyebrew11 {
  left: 12%;
  transform: rotate(-10deg);
}
.eyebrew2,
.eyebrew22 {
  right: 12%;
  transform: rotate(10deg);
}

.eyebrew11,
.eyebrew22 {
  top: 37%;
  background-color: blue;
}

.eye1,
.eye2 {
  background-color: rgba(0, 0, 0, 0.829);
  width: 68px;
  height: 50px;
  position: absolute;
  top: 39%;
  border-radius: 50%;
}
.eye1 {
  left: 12%;
}
.eye2 {
  right: 12%;
}

.eye11,
.eye22 {
  background-color: white;
  width: 50px;
  height: 30px;
  position: absolute;
  top: 42%;
  border-radius: 50%;
}
.eye11 {
  left: 17%;
}
.eye22 {
  right: 17%;
}

.eye111,
.eye222 {
  background-color: black;
  width: 25px;
  height: 30px;
  position: absolute;
  top: 43%;
  border-radius: 50%;
}
.eye111 {
  left: 23%;
}
.eye222 {
  right: 23%;
}

.eye1111,
.eye2222 {
  background-color: white;
  width: 10px;
  height: 15px;
  position: absolute;
  top: 46%;
  border-radius: 50%;
}
.eye1111 {
  left: 29%;
}
.eye2222 {
  right: 25%;
}

.ear2 {
  right: 12%;
}
.ear1,
.ear2 {
  background-color: blue;
  width: 68px;
  height: 50px;
  position: absolute;
  top: 39%;
  border-radius: 50%;
}
.ear1 {
  left: -7%;
  transform: rotate(-120deg);
}

.ear2 {
  right: -7%;
  transform: rotate(120deg);
}
.nose {
  background-color: blue;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.486);
}

.glass1 {
  width: 30px;
  height: 5px;
  position: absolute;
  top: 45%;
  background-color: black;
  left: 50%;
  transform: translate(-50%);
}

.glass2,
.glass3 {
  width: 50px;
  height: 5px;
  position: absolute;
  top: 45%;
  background-color: black;
}
.glass2 {
  transform: translate(-15%, -20px) rotate(50deg);
  left: 0%;
}
.glass3 {
  transform: translate(15%, -20px) rotate(-50deg);
  right: 0%;
}

.mouth {
  background-color: transparent;
  width: 90px;
  height: 50px;
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  box-shadow: 0px 10px black;
}

.neck {
  background-color: blue;
  width: 120px;
  height: 100px;
  transform: translate(0%, -40%);
}

.shirt {
  width: 400px;
  height: 400px;
  border-radius: 90px 90px 0 0;
  background-color: white;
  transform: translate(0, -40px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.shirtline {
  height: 100%;
  position: absolute;
  width: 2px;
  background-color: black;
}

.buttons {
  width: 15px;
  height: 100%;
  transform: translate(12px);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.button {
  width: 10px;
  height: 10px;
  border: 2px solid;
  border-radius: 50%;
}

.collars1,
.collars2 {
  width: 95px;
  height: 50px;
  background-color: white;
  border: 1px solid;
  position: absolute;
}

.collars1 {
  top: -25px;
  left: 25%;
  transform: rotate(20deg);
}
.collars2 {
  top: -25px;
  right: 25%;
  transform: rotate(-20deg);
}
